.pricing{
padding:80px 0;
background:$light;
text-align:center;

.container{
@include container;
}

.pricing__cards{
display:flex;
gap:30px;
justify-content:center;
margin-top:40px;
}

.card{
background:white;
padding:40px;
width:250px;
border-radius:10px;
box-shadow:0 10px 20px rgba(0,0,0,0.1);

button{
margin-top:20px;
padding:10px 20px;
border:none;
background:$blue;
color:white;
border-radius:5px;
}
}

.card--active{
transform:scale(1.1);
background:$blue;
color:white;
}

}