@use 'mixins';
@use 'variables';
@use 'sass:color';

.screenshots {
    padding: 80px 0;
    text-align: center;
    background-color: variables.$white;

    &__header {
        margin-bottom: 50px;

        h2 { 
            font-size: 2.5rem; 
            color: variables.$text-dark; 
            font-family:'Nunito-Bold', sans-serif;
        }

        p { 
            color: variables.$text-gray; 
            max-width: 600px; 
            margin: 10px auto; 
            padding: 20px;
            font-family: 'Rubik-normal', sans-serif;
        }
    }

    &__slider {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        overflow: hidden;

        .phone {
            width: 250px;
            transition: all 0.3s ease;

            &.side {
                transform: scale(1);
            }

            &.center {
                width: 280px;
                z-index: 2;
                transform: scale(1);
                filter: drop-shadow(0 20px 30px rgba(0,0,0,0.1));
            }
        }
    }

    &__dots {
        margin-top: 40px;

        .dot {
            height: 12px;
            width: 12px;
            background-color: #ddd;
            border-radius: 50%;
            display: inline-block;
            margin: 0 5px;

            &.active { 
                background-color: variables.$primary-blue; 
            }
        }
    }

    /* TABLET */
    @include mixins.respond-to(tablet) {

        padding: 70px 0;

        &__header h2 {
            font-size: 2.2rem;
        }

        &__slider {

            .phone {
                width: 200px;

                &.center {
                    width: 230px;
                }
            }
        }
    }

    /* MOBILE */
    @include mixins.respond-to(mobile) {

        padding: 60px 0;

        &__header {

            h2 {
                font-size: 2rem;
            }

            p {
                font-size: 0.95rem;
                padding: 10px 15px;
            }
        }

        &__slider {
            gap: 15px;

            .phone {
                width: 160px;

                &.center {
                    width: 180px;
                }
            }
        }

        &__dots {
            margin-top: 30px;

            .dot {
                height: 10px;
                width: 10px;
            }
        }
    }

    /* MOBILE PEQUEÑO */
    @include mixins.respond-to(mobile-sm) {

        &__slider {

            .phone {
                width: 130px;

                &.center {
                    width: 150px;
                }
            }
        }
    }
}