.stats {
    padding: 110px 0;
    background-image: url('recursos/background.png');
    background-size: cover;
    background-position: center;
    color: $white;

    &__container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        max-width: $container-max-width;
        margin: 0 auto;
        padding: 0 20px;
    }

    &__item {
        text-align: center;

        span {
            display: block;
            font-size: 1.1rem;
            margin-bottom: 10px;
            font-weight: 500;
            font-family:'Nunito-Bold', sans-serif;
        }

        h2 {
            font-family:'Nunito-Bold', sans-serif;
            font-size: 3.5rem;
            font-weight: 700;
            margin: 0;
        }
    }
}