@use 'variables';
@use 'hero';
@use 'features';
@use 'social-proof';
@use 'needs';
@use 'stats';
@use 'screenshots'; 
@use 'pricing';
@use 'testimonials';
@use 'faq';
@use 'cta-final';
@use 'footer';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: variables.$white;
}

.persona{
    transform: translate(630px, -550px);
    height: 550px;
}
