@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: $white;
}
@import 'hero';
@import 'features';
@import 'social-proof';
@import 'needs';
@import 'stats';
@import 'screenshots'; 
@import 'pricing';
@import 'testimonials';
@import 'faq';
@import 'cta-final';
.persona{
    transform: translate(630px, -550px);
    height: 550px;
}
@import 'footer';